<div class="border-bottom row" style="margin-bottom: 16px; padding-bottom: 8px;">
    <div class="col-9">
        <h4 style="color: rgb(120, 120, 120); margin-bottom: 5px;">{{job['title']}}</h4>
        <div><b>Location:</b> {{job['location']}}</div>
        {% if 'salary' in job %}
        <div><b>Salary:</b> {{job['salary']}}</div>
        <div><b>Responsibilities:</b> {{job['responsibilities']}}</div>
        <div><b>Requirments:</b> {{job['requirments']}}</div>
        {% endif %}
    </div>
    <div class="col-3">
    <a href="mailto:hussain.waien@gmail.com?subject=Application%20For%20{{job['title']}}&body=My%20Name%3A%20%3CYour%20Name%3E%0D%0AMy%20Resume%20Link%3A%20%3CResume%20Link%3E%0D%0AMy%20Linkdin%20Link%3A%20%3CLinkdin%20in%3E" type="button" class="btn btn-outline-primary">Apply</a>
</div>
</div>

<!--     <a href="mailto:hussain.waien@gmail.com?subject=Application%20For%20{{job['title']}}&body=My%20Name%3A%20%3CYour%20Name%3E%0D%0AMy%20Resume%20Link%3A%20%3CResume%20Link%3E%0D%0AMy%20Linkdin%20Link%3A%20%3CLinkdin%20in%3E" type="button" class="btn btn-outline-primary">Apply</a> -->